canvas{
  border-radius: 10px;
  background: #ededed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.refresh{
  position: absolute;
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.train{
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.tellWhatIsWritten{
  position: absolute;
  top: 30%;
  left: 75%;
  transform: translate(-50%, -50%);
}

button {
  transition-duration: 0.4s;
  background-color: #124d54;
  color: #ededed;
  text-align: center;
  margin-bottom: 100px;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, 750%);
}


button:hover {
  background-color: #ededed;
  color: #124d54;
  border: 2px solid #124d54;
}

.vectorize-btn{
  background-color: #124d54;
  color: #ededed !important;
  margin-bottom: 100px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, 750%);
}

.disabled{
  background-color: #ededed;
  color: #124d54 !important;
  margin-bottom: 100px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, 750%);
}
